html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

body {
    background-color: aliceblue;
}

h2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px 10px 10px 10px;
    text-shadow: 0 0 3px #61606b, 0 0 6px #61606b,
    0 0 10px #61606b, 0 0 15px #61606b,
    0 0 20px #61606b;
    font-size: 4.2em;
    font-weight: bold;
    color: #46566b;
    border: 4px solid #46566B;
}

a {
    color: #444;
}

a:link {
    color: #444;
}

a:visited {
    color: #444;
}

ol, ul {
    list-style: none
}

table {
    width: 100%;
    border: 1px solid #46566B;
    border-collapse: collapse;
}

th {
    background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
    border: 1px solid #46566B;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 10px;
}

td {
    padding: 3px 10px;
    border: 1px solid #46566B;;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

article h1 {
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 0px 4px 50px;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #DBDBDB;
}

article .table-div {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 50px;
    line-height: 20px;
    border-left: 5px solid #46566B;
    border-right: 5px solid #46566B;
    background-color: rgba(70, 86, 107, 0.1);
}

article .forms-container {
    width: 85%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 50px;
    line-height: 20px;
    border-left: 5px solid #46566B;
    border-right: 5px solid #46566B;
    background-color: rgba(70, 86, 107, 0.1);
}

.column {
    position: relative;
    float: left;
    width: 33%;
}
.column h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px 0px 4px 10px;
    text-align: left;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #DBDBDB;
}

.error {
    padding: 2px 10px 2px 10px;
    background-color: lightcoral;
    border: 1px solid darkred;
    color: red;
}

#emp-form {

}

#main-content {
    width: 100%;
    margin-top: 100px;
    background-color: aliceblue;
    text-align: center;
}